@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');



.light{
    --color-barra-lateral:rgb(255,255,255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(226, 236, 240);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --active-nav-bg: #cae0ee;

}

 :root{
    --color-barra-lateral:rgb(44,45,49);
    
    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);
    
    --color-menu-hover:rgb(0,0,0);
    --color-menu-hover-texto:rgb(238,238,238);
    
    --color-boton:rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);
    
    --color-linea:rgb(90,90,90);
    
    --color-switch-base :rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);
    
    --color-scroll:rgb(68,69,74);
    --color-scroll-hover:rgb(85,85,85);
    --active-nav-bg: #27333a;
} 


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    
    background: var(--primary-bgcolor);
    /* height: 100vh;
    width: 100%;
    background-color: darkcyan; */
}
ul{
    list-style: none;
}

/*-----------------Menu*/
.menu{
    
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}


/*----------------Barra Lateral*/
.barra-lateral{

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
    top: 0;
}

.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}


/*------------> Botón*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}


/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion .li-2{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
    transition: all ease .3s;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
    scale: 1.05;
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

/*-----------------> Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{

    width: 50px;
    font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

/*---------------> Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}


/*-------------main*/

#active{
    background-color: var(--active-nav-bg);
    color: var(--color-menu-hover-texto);
    scale: 1;
}

main{
    margin-left: 250px;
    padding-top: 60px !important;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}



/*------------------> Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
    
}

/* setting menu
/* .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4vw;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-bg);
    border-bottom: 5px solid var(--tertiary-bg);
  }

  .header-nav  {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
   
  .nav-user-icon {
    height: 2.2rem;
    width: 2.2rem;
    background: #000;
    border-radius: 5rem;
    overflow: hidden;
    border: 1px solid var(--primary-txt-clr);
  }
  .nav-user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.setting-menu {
    z-index: 100;
    position: fixed;
    width: 350px;
    background: var(--primary-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 55px;
    right: 4vw;
    max-height: 0;
    transition: max-height 0.3s;
  }
  
  .settings-menu-height {
    max-height: 400px;
  }
  .setting-menu .user-profile {
    padding-block: 1rem;
    border-bottom: 1px solid var(--secondary-txt-clr);
  }
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-profile > div {
    width: 100%;
  }
  .user-profile a {
    font-size: 12px;
    color: var(--accent-clr-2);
    text-decoration: none;
  }
  
  .setting-menu-inner {
    padding: 20px;
  }
  .feedback {
    margin-left: 5px;
    gap: 1.2rem;
  }
  .setting-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 25px 5px;
  }
  
  .setting-links a {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    text-decoration: none;
    color: var(--secondary-txt-clr);
  } */